.wrapper {
	padding-bottom: 20px;
}

.top {
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	margin-bottom: 32px;
}

.image {
	display: block;
	width: 100%;
	margin-bottom: 16px;
}

.list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.item {
	text-align: center;

	&__name {
		margin-bottom: 8px;
	}
}
