.link {
	padding: 20px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--text-inactive-color);

	&__text {
		margin-left: 8px;
	}

	&_active {
		color: var(--text-primary-color);
	}
}