.header {
	background-color: var(--background);
	padding: 16px 0;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 8px;
}
